{% extends "layout.html" %}

{% block title %}
    Acknowledge
{% endblock %}

{% block main %}
    <p>Transaction ID is the LAST XXX digits (eg. YYYY-MM-DD_XXX)</p>
    <form action="/acknowledged" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="id" placeholder="Transaction ID" type="number" step="1" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Acknowledge</button>
    </form>

    <p></p>


{% endblock %}