{% extends "layout.html" %}

{% block title %}
    Inventory
{% endblock %}

{% block main %}
    <table class = "table table-striped">
        <tr>
            <th>Tooth</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
        </tr>

        <tr>
            <td>Stock</td>
            {% for item in list %}
                <td>{{item}}</td>
            {% endfor %}
        </tr>

        <tr>
            <th>Tooth</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
        </tr>

        <tr>
            <td>Stock</td>
            {% for item in pist %}
                <td>{{item}}</td>
            {% endfor %}
        </tr>

        <tr>
            <th>Tooth</th>
            <th>31</th>
            <th>32</th>
            <th>33</th>
            <th>34</th>
            <th>35</th>
            <th>36</th>
            <th>37</th>
        </tr>

        <tr>
            <td>Stock</td>
            {% for item in gist %}
                <td>{{item}}</td>
            {% endfor %}
        </tr>

        <tr>
            <th>Tooth</th>
            <th>41</th>
            <th>42</th>
            <th>43</th>
            <th>44</th>
            <th>45</th>
            <th>46</th>
            <th>47</th>
        </tr>

        <tr>
            <td>Stock</td>
            {% for item in tist %}
                <td>{{item}}</td>
            {% endfor %}
        </tr>

    </table>

    <div style="float:right;">
        <a class="btn btn-link" href="/summary" role="button">Daily Class Sales</a>
        <a class="btn btn-link" href="/add" role="button">Add Stock</a>
    </div>


{% endblock %}
